<div id="comments-list">
	<div class="card">
	  {{#commentDtos}}
	  
	  <!-- comments-id = comment.id --> 
	  <div class="card m-2" id="comments-{{id}}">
		  <div class="card-header">
		  	{{nickname}}
		  	&nbsp;&nbsp;&nbsp;
		   	<button type="button"
		   		class="btn btn-sm btn-outline-primary">수정</button>
		    		&nbsp;
	   	  <button type="button"
	   			class="btn btn-sm btn-outline-danger comment-delete-btn">삭제</button> 
	   				({{id}}, {{articleId}})
	   				
		  </div>
		  <div class="card-body">
		    {{body}}
		  </div>
	  {{/commentDtos}}
	</div>
</div>