{{>layouts/header}}

<!-- BootStrap Table 참고 -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
    </tr>
  </thead>
  <tbody>

  	{{! #article}}
    <tr>
      <th scope="row">{{article.id}}</th>
      <td>{{article.title}}</td>
      <td>{{article.content}}</td>
    </tr>
    {{! /article}}
    
  </tbody>
</table> 

<a href="/articles/List"             class="btn btn-info">목록</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/articles/WriteForm"        class="btn btn-secondary">글쓰기</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/articles/{{id}}/EditForm"  class="btn btn-warning">수정</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/articles/{{id}}/Delete"    class="btn btn-danger">삭제</a>


	<! -- 댓글 view 화면 추가 -->


	{{>comments/_comments}}




{{>layouts/footer}}